<div class="container col-md-6 mt-5">
  <form action="signup" method="POST" class="card card-body mb-3 shadow">
    <h2 class="text-center">Sign-Up</h2>
    <div class="mb-3">
      <input
        type="email"
        class="form-control"
        name="email"
        placeholder="Email"
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="Password"
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        name="password2"
        placeholder="Confirm Password"
      />
    </div>
    <div class="mb-3 text-center">
      <button class="btn btn-primary" type="submit"> Sign up</button>
    </div>
  </form>
  <p class="text-center">
    Have an account 
    <a href="/login"> Login here!</a></p>
</div>